# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Apple fanboy trash
.DS_Store

# Stuff specific to this project
cache/
data/train.csv
data/test.csv

# IDE stuff
.idea/
.vscode/